<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-list>
    <ion-card >
      <ion-item text-wrap *ngFor="let img of images">
        <ion-button expand="full" (click)="startUpload(img)">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>Guardar
        </ion-button>
        <!-- <ion-thumbnail slot="start"> -->
          <ion-img [src]="img.path"></ion-img><br>
        <!-- </ion-thumbnail> -->
      </ion-item>
      <ion-item>
          <ion-text>Titulo: </ion-text>
          <ion-input [(ngModel)]="datos.title" aria-placeholder="Titulo"></ion-input>
      </ion-item>
      <!-- <ion-item> -->
      
      <!-- </ion-item>
      <ion-item> -->
      <ion-button expand="full" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>Select Image
      </ion-button>
      <ion-button expand="full" routerLink="/lista">
        <ion-icon slot="start" name="image-outline"></ion-icon>Lista de Fotos
      </ion-button><br>
      <input type="file">
      <!-- </ion-item> -->
    </ion-card>
        
  </ion-list>
  
</ion-content>
<!-- <ion-footer>
  <ion-toolbar color="primary">
    
  </ion-toolbar>
</ion-footer> -->
